{% extends "base.html" %}
{% block conteudo %}
<div role="main" class="container">


    <section>
        <div class="starter-template">
            <div class="col-md-12  align-items-center">
                <img src="{{ url_for('static', filename='img/default-img.png') }}" class="card-img" alt="..."
                    style="max-width: 500px;">
            </div>
            <br>
            <div class="col-md-12">
                <h2>Noticia 01</h2>
                <p class="text-justify">
                    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai caçá sua turmis! Suco de
                    cevadiss deixa as pessoas mais interessantis. Delegadis gente finis, bibendum egestas augue arcu ut
                    est. Mauris nec dolor in eros commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl.
                    <br>
                    Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! Suco de cevadiss, é um
                    leite divinis, qui tem lupuliz, matis, aguis e fermentis. Posuere libero varius. Nullam a nisl ut
                    ante blandit hendrerit. Aenean sit amet nisi. Cevadis im ampola pa arma uma pindureta.
                    <br>

                    Em pé sem cair, deitado sem dormir, sentado sem cochilar e fazendo pose. Admodum accumsan
                    disputationi eu sit. Vide electram sadipscing et per. Praesent vel viverra nisi. Mauris aliquet nunc
                    non turpis scelerisque, eget. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num
                    gostis. </p>
                <small class="text-muted">autor: Flavio Filipe</small> |
                <small class="text-muted">data: 12/12/2019</small>
            </div>
        </div>
    </section>
</div><!-- /.container -->

{% endblock %}